button, input, select{
    font-family: inherit;
    box-sizing: border-box;
}

.btn{
    border: none;
    outline: none;
    font-size: 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    background-color: #eeeeee;
}

.form-group > label{
    display: block;
}

.form-item, .form-group > input:not([type="checkbox"]), .form-group > select{
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 1px solid #ced4da;
    outline: none;
    width: 100%;
}